#colateral-section {
  display: flex;
  flex-direction: row-reverse;
  gap: calc(8 * var(--gap));
}

#ai-section {
  --ai-number-of-suggestions: 4;
  --ai-number-of-suggestion-lines: min(var(--ai-number-of-suggestions), 2);
  --ai-space-for-button: 50px;
  --ai-preview-size: calc((var(--other-canvas-size) - var(--ai-space-for-button)) / var(--ai-number-of-suggestion-lines));
}

.ai-preview-multi-container {
  height: var(--other-canvas-size);
  aspect-ratio: 1 / 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: var(--gap);
  position: relative;
}

.ai-preview-multi-container:not(:first-of-type, :last-of-type) {
  margin: var(--gap) 0;
}

.ai-preview-container {
  height: var(--ai-preview-size);
  aspect-ratio: 1 / 1;
  position: relative;
}

.ai-progress-bar {
  --progress-bar-thickness: 4px;
  --progress-bar-length: 100%;
  --progress-bar-color: azure;
  --progress-bar-bgcolor: black;
  position: absolute;
  inset: 0 0 0 calc(-1 * var(--progress-bar-thickness));
  background-color: var(--progress-bar-bgcolor);
}

.ai-progress-bar.horizontal {
  width: var(--progress-bar-length);
  height: var(--progress-bar-thickness);
}

.ai-progress-bar.vertical {
  height: var(--progress-bar-length);
  width: var(--progress-bar-thickness);
}

.ai-progress-bar.hidden {
  opacity: 0;
}

.ai-progress-bar::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--progress-bar-color);
}

.ai-progress-bar.horizontal::before {
  width: 100%;
  inset: 1px 0;
  transform: scaleX(var(--progress-bar-value, 0));
  transform-origin: left center;
}

.ai-progress-bar.vertical::before {
  height: 100%;
  inset: 0 1px;
  transform: scaleY(var(--progress-bar-value, 0));
  transform-origin: top center;
}

.ai-progress-bar.transition::before {
  transition: all 200ms ease-out;
}

.ai-dragging {
  position: absolute;
  z-index: 10;
  transition-property: scale, left, top;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  pointer-events: none;
}

.ai-dropped-on-dropzone {
  transition-property: translate, scale, opacity, left, top;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.ai-dropped-out-of-zone {
  transition-property: translate, scale, opacity, left, top;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}

.ai-dropzone {
  --dash-length: 15px;
  --dash-width: 2px;
  --dropzone-border-color: var(--highlight-fg-color);
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.ai-dropzone::before {
  content: "";
  position: absolute;
  z-index: 2;
  inset: 0;
  background-image: linear-gradient(90deg, var(--dropzone-border-color) 50%, transparent 50%),
    linear-gradient(90deg, var(--dropzone-border-color) 50%, transparent 50%),
    linear-gradient(0deg, var(--dropzone-border-color) 50%, transparent 50%),
    linear-gradient(0deg, var(--dropzone-border-color) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: var(--dash-length) var(--dash-width),
    var(--dash-length) var(--dash-width),
    var(--dash-width) var(--dash-length),
    var(--dash-width) var(--dash-length);
  background-position: left top, right bottom, left bottom, right top;
  animation: dashing-border 400ms linear infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 200ms ease-out;
  pointer-events: none;
}

.ai-dropzone.ai-droppable::before {
  animation-play-state: running;
  animation-duration: 600ms;
  opacity: 0.4;
}

.ai-dropzone.ai-dragged-hover::before {
  animation-play-state: running;
  animation-duration: 300ms;
  opacity: 1;
}

.multi-canvas-container .ai-dropzone {
  --dropzone-border-color: var(--highlight-fg-color-dark);
}

.ai-dropzone.ai-droppable::after {
  content: attr(data-drop-action-label);
  position: absolute;
  z-index: 1;
  color: black;
  background-color: #fffa;
  width: calc(100% - 2 * var(--dash-width));
  text-align: center;
  opacity: 0.8;
  transition: opacity 200ms ease-out;
}

.ai-dropzone.ai-droppable.ai-dragged-hover::after {
  opacity: 1;
}

.ai-preview-container.ai-dropzone.ai-droppable {
  align-self: flex-end;
}

@keyframes dashing-border {
  from {
    background-position: left top, right bottom, left bottom, right top;
  }
  to {
    background-position: left var(--dash-length) top, right var(--dash-length) bottom, left bottom var(--dash-length), right top var(--dash-length);
  }
}
